releaseNotesData/GEF8_2D_wte.gif filter=lfs diff=lfs merge=lfs -text
releaseNotesData/QUDFXx4x_2D_wte.gif filter=lfs diff=lfs merge=lfs -text
releaseNotesData/KEPLERSM3_0_2D_wte.gif filter=lfs diff=lfs merge=lfs -text
releaseNotesData/GEF9_2D_wte.gif filter=lfs diff=lfs merge=lfs -text
releaseNotesData/NVSphere.ico filter=lfs diff=lfs merge=lfs -text
releaseNotesData/GEF6_2D_wte.gif filter=lfs diff=lfs merge=lfs -text
releaseNotesData/tesla.gif filter=lfs diff=lfs merge=lfs -text
releaseNotesData/KEPLERSM3_5_2D_wte.gif filter=lfs diff=lfs merge=lfs -text
releaseNotesData/link.jpg filter=lfs diff=lfs merge=lfs -text
releaseNotesData/QUA_FX_4600_White.gif filter=lfs diff=lfs merge=lfs -text
releaseNotesData/GEFGTX400_2D_wte.gif filter=lfs diff=lfs merge=lfs -text
releaseNotesData/GEFGTX200_2D_wte.gif filter=lfs diff=lfs merge=lfs -text
releaseNotesData/GEF7_2D_wte.gif filter=lfs diff=lfs merge=lfs -text
doc/release/Getting_Started_With_CUDA_Samples.pdf filter=lfs diff=lfs merge=lfs -text
doc/release/License.pdf filter=lfs diff=lfs merge=lfs -text
doc/release/CUDA_Samples_Guide_To_New_Features.pdf filter=lfs diff=lfs merge=lfs -text
doc/nvcc.pdf filter=lfs diff=lfs merge=lfs -text
doc/CUDA_Getting_Started_Guide_For_Linux.pdf filter=lfs diff=lfs merge=lfs -text
doc/CUDA_C_Programming_Guide.pdf filter=lfs diff=lfs merge=lfs -text
doc/Kepler_Tuning_Guide.pdf filter=lfs diff=lfs merge=lfs -text
doc/CUDA_Getting_Started_Guide_For_Microsoft_Windows.pdf filter=lfs diff=lfs merge=lfs -text
doc/CUSPARSE_Library.pdf filter=lfs diff=lfs merge=lfs -text
doc/Compute_Command_Line_Profiler_User_Guide.pdf filter=lfs diff=lfs merge=lfs -text
doc/CUDA_Developer_Guide_for_Optimus_Platforms.pdf filter=lfs diff=lfs merge=lfs -text
doc/CUDA_Getting_Started_Guide_For_Mac_OS_X.pdf filter=lfs diff=lfs merge=lfs -text
doc/CUDA_C_Best_Practices_Guide.pdf filter=lfs diff=lfs merge=lfs -text
doc/CUFFT_Library.pdf filter=lfs diff=lfs merge=lfs -text
doc/Preconditioned_Iterative_Methods_White_Paper.pdf filter=lfs diff=lfs merge=lfs -text
doc/Kepler_Compatibility_Guide.pdf filter=lfs diff=lfs merge=lfs -text
doc/CUDA_VideoDecoder_Library.pdf filter=lfs diff=lfs merge=lfs -text
doc/ptx_isa_3.1.pdf filter=lfs diff=lfs merge=lfs -text
doc/CUBLAS_Library.pdf filter=lfs diff=lfs merge=lfs -text
doc/CURAND_Library.pdf filter=lfs diff=lfs merge=lfs -text
doc/Thrust_Quick_Start_Guide.pdf filter=lfs diff=lfs merge=lfs -text
doc/CUDA_VideoEncoder_Library.pdf filter=lfs diff=lfs merge=lfs -text
tools/CUDA_Occupancy_Calculator.xls filter=lfs diff=lfs merge=lfs -text
4_Finance/BlackScholes/doc/BlackScholes.pdf filter=lfs diff=lfs merge=lfs -text
4_Finance/binomialOptions/doc/binomialOptions.pdf filter=lfs diff=lfs merge=lfs -text
4_Finance/MonteCarloMultiGPU/doc/MonteCarlo.pdf filter=lfs diff=lfs merge=lfs -text
2_Graphics/volumeFiltering/doc/sshot_md.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/volumeFiltering/doc/sshot_sm.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/volumeFiltering/doc/sshot_lg.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/volumeFiltering/data/Bucky.raw filter=lfs diff=lfs merge=lfs -text
2_Graphics/volumeFiltering/data/ref_volumefilter.ppm filter=lfs diff=lfs merge=lfs -text
2_Graphics/volumeRender/doc/sshot_md.jpg filter=lfs diff=lfs merge=lfs -text
2_Graphics/volumeRender/doc/sshot_sm.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/volumeRender/doc/sshot_lg.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/volumeRender/data/Bucky.raw filter=lfs diff=lfs merge=lfs -text
2_Graphics/volumeRender/data/ref_volume.ppm filter=lfs diff=lfs merge=lfs -text
2_Graphics/simpleTexture3D/doc/sshot_md.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/simpleTexture3D/doc/sshot_sm.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/simpleTexture3D/doc/sshot_lg.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/simpleTexture3D/data/Bucky.raw filter=lfs diff=lfs merge=lfs -text
2_Graphics/simpleTexture3D/data/ref_texture3D.bin filter=lfs diff=lfs merge=lfs -text
2_Graphics/bindlessTexture/doc/sshot_md.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/bindlessTexture/doc/sshot_sm.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/bindlessTexture/doc/sshot_lg.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/bindlessTexture/data/person.ppm filter=lfs diff=lfs merge=lfs -text
2_Graphics/bindlessTexture/data/sponge.ppm filter=lfs diff=lfs merge=lfs -text
2_Graphics/bindlessTexture/data/ref_bindlessTexture.bin filter=lfs diff=lfs merge=lfs -text
2_Graphics/bindlessTexture/data/flower.ppm filter=lfs diff=lfs merge=lfs -text
2_Graphics/Mandelbrot/doc/sshot_md.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/Mandelbrot/doc/sshot_sm.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/Mandelbrot/doc/sshot_lg.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/simpleGL/doc/sshot_md.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/simpleGL/doc/sshot_sm.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/simpleGL/doc/sshot_lg.JPG filter=lfs diff=lfs merge=lfs -text
2_Graphics/simpleGL/data/ref_simpleGL.bin filter=lfs diff=lfs merge=lfs -text
2_Graphics/marchingCubes/doc/screenshot_lg.png filter=lfs diff=lfs merge=lfs -text
2_Graphics/marchingCubes/doc/screenshot_md.png filter=lfs diff=lfs merge=lfs -text
2_Graphics/marchingCubes/doc/screenshot_sm.png filter=lfs diff=lfs merge=lfs -text
2_Graphics/marchingCubes/data/normalArray.bin filter=lfs diff=lfs merge=lfs -text
2_Graphics/marchingCubes/data/Bucky.raw filter=lfs diff=lfs merge=lfs -text
2_Graphics/marchingCubes/data/compVoxelArray.bin filter=lfs diff=lfs merge=lfs -text
2_Graphics/marchingCubes/data/posArray.bin filter=lfs diff=lfs merge=lfs -text
6_Advanced/transpose/doc/MatrixTranspose.pdf filter=lfs diff=lfs merge=lfs -text
6_Advanced/simpleHyperQ/doc/HyperQ.pdf filter=lfs diff=lfs merge=lfs -text
6_Advanced/cdpAdvancedQuicksort/settings.nvlink filter=lfs diff=lfs merge=lfs -text
6_Advanced/cdpLUDecomposition/settings.nvlink filter=lfs diff=lfs merge=lfs -text
6_Advanced/eigenvalues/doc/eigenvalues.pdf filter=lfs diff=lfs merge=lfs -text
6_Advanced/reduction/doc/reduction.pdf filter=lfs diff=lfs merge=lfs -text
6_Advanced/reduction/doc/reduction.ppt filter=lfs diff=lfs merge=lfs -text
6_Advanced/cdpQuadtree/settings.nvlink filter=lfs diff=lfs merge=lfs -text
6_Advanced/FunctionPointers/data/ref_shared.pgm filter=lfs diff=lfs merge=lfs -text
6_Advanced/FunctionPointers/data/ref_tex.pgm filter=lfs diff=lfs merge=lfs -text
3_Imaging/recursiveGaussian/doc/sshot_md.JPG filter=lfs diff=lfs merge=lfs -text
3_Imaging/recursiveGaussian/doc/sshot_sm.JPG filter=lfs diff=lfs merge=lfs -text
3_Imaging/recursiveGaussian/doc/sshot_lg.JPG filter=lfs diff=lfs merge=lfs -text
3_Imaging/SobelFilter/doc/sshot_md.JPG filter=lfs diff=lfs merge=lfs -text
3_Imaging/SobelFilter/doc/sshot_sm.JPG filter=lfs diff=lfs merge=lfs -text
3_Imaging/SobelFilter/doc/sshot_lg.JPG filter=lfs diff=lfs merge=lfs -text
3_Imaging/SobelFilter/data/ref_shared.pgm filter=lfs diff=lfs merge=lfs -text
3_Imaging/SobelFilter/data/ref_tex.pgm filter=lfs diff=lfs merge=lfs -text
3_Imaging/SobelFilter/data/ref_tex.ppm filter=lfs diff=lfs merge=lfs -text
3_Imaging/dxtc/doc/cuda_dxtc.pdf filter=lfs diff=lfs merge=lfs -text
3_Imaging/dxtc/data/lena_ref.dds filter=lfs diff=lfs merge=lfs -text
3_Imaging/dxtc/data/lorikeet-orig.ppm filter=lfs diff=lfs merge=lfs -text
3_Imaging/dxtc/data/lena-orig.ppm filter=lfs diff=lfs merge=lfs -text
3_Imaging/dxtc/data/colors.ppm filter=lfs diff=lfs merge=lfs -text
3_Imaging/stereoDisparity/data/stereo.im0.640x533.ppm filter=lfs diff=lfs merge=lfs -text
3_Imaging/stereoDisparity/data/stereo.im1.640x533.ppm filter=lfs diff=lfs merge=lfs -text
3_Imaging/convolutionTexture/doc/Performance.xls filter=lfs diff=lfs merge=lfs -text
3_Imaging/histogram/doc/histogram.pdf filter=lfs diff=lfs merge=lfs -text
3_Imaging/postProcessGL/doc/postProcessGL_md.gif filter=lfs diff=lfs merge=lfs -text
3_Imaging/postProcessGL/doc/postProcessGL_sm.gif filter=lfs diff=lfs merge=lfs -text
3_Imaging/postProcessGL/doc/postProcessGL_lg.gif filter=lfs diff=lfs merge=lfs -text
3_Imaging/dct8x8/doc/Cosines.xls filter=lfs diff=lfs merge=lfs -text
3_Imaging/dct8x8/doc/dct8x8.pdf filter=lfs diff=lfs merge=lfs -text
3_Imaging/dct8x8/doc/DctJpeg.png filter=lfs diff=lfs merge=lfs -text
3_Imaging/dct8x8/doc/CosineBasis.png filter=lfs diff=lfs merge=lfs -text
3_Imaging/dct8x8/doc/barbara.bmp filter=lfs diff=lfs merge=lfs -text
3_Imaging/dct8x8/doc/BarbaraBlocks1.bmp filter=lfs diff=lfs merge=lfs -text
3_Imaging/dct8x8/doc/barbara_md.png filter=lfs diff=lfs merge=lfs -text
3_Imaging/dct8x8/doc/BarbaraBlocks3.bmp filter=lfs diff=lfs merge=lfs -text
3_Imaging/dct8x8/doc/barbara_sm.png filter=lfs diff=lfs merge=lfs -text
3_Imaging/dct8x8/doc/barbara_lg.png filter=lfs diff=lfs merge=lfs -text
3_Imaging/dct8x8/doc/BarbaraBlocks2.bmp filter=lfs diff=lfs merge=lfs -text
3_Imaging/dct8x8/data/barbara.bmp filter=lfs diff=lfs merge=lfs -text
3_Imaging/bilateralFilter/data/nature_monte.bmp filter=lfs diff=lfs merge=lfs -text
3_Imaging/convolutionSeparable/doc/convolutionSeparable.pdf filter=lfs diff=lfs merge=lfs -text
3_Imaging/boxFilter/doc/boxFilter_sm.gif filter=lfs diff=lfs merge=lfs -text
3_Imaging/boxFilter/doc/boxFilter_lg.gif filter=lfs diff=lfs merge=lfs -text
3_Imaging/boxFilter/doc/boxFilter_md.gif filter=lfs diff=lfs merge=lfs -text
3_Imaging/boxFilter/data/lenaRGB.ppm filter=lfs diff=lfs merge=lfs -text
3_Imaging/imageDenoising/doc/NLM_sm.png filter=lfs diff=lfs merge=lfs -text
3_Imaging/imageDenoising/doc/NLM_md.png filter=lfs diff=lfs merge=lfs -text
3_Imaging/imageDenoising/doc/imageDenoising.pdf filter=lfs diff=lfs merge=lfs -text
3_Imaging/imageDenoising/doc/NLM_lg.png filter=lfs diff=lfs merge=lfs -text
3_Imaging/imageDenoising/data/portrait_noise.bmp filter=lfs diff=lfs merge=lfs -text
3_Imaging/imageDenoising/data/ref_passthru.ppm filter=lfs diff=lfs merge=lfs -text
3_Imaging/imageDenoising/data/ref_nlm.ppm filter=lfs diff=lfs merge=lfs -text
3_Imaging/imageDenoising/data/ref_nlm2.ppm filter=lfs diff=lfs merge=lfs -text
3_Imaging/HSOpticalFlow/doc/OpticalFlow.pdf filter=lfs diff=lfs merge=lfs -text
3_Imaging/HSOpticalFlow/data/frame10.ppm filter=lfs diff=lfs merge=lfs -text
3_Imaging/HSOpticalFlow/data/frame11.ppm filter=lfs diff=lfs merge=lfs -text
7_CUDALibraries/common/FreeImage/lib/linux/i686/libfreeimage.a filter=lfs diff=lfs merge=lfs -text
7_CUDALibraries/common/FreeImage/lib/linux/x86_64/libfreeimage.a filter=lfs diff=lfs merge=lfs -text
7_CUDALibraries/common/FreeImage/lib/darwin/libfreeimage_10_6-3.13.1.dylib filter=lfs diff=lfs merge=lfs -text
7_CUDALibraries/common/FreeImage/lib/darwin/libfreeimage-3.13.1.dylib filter=lfs diff=lfs merge=lfs -text
7_CUDALibraries/common/FreeImage/lib/darwin/libfreeimage_10_5.a filter=lfs diff=lfs merge=lfs -text
7_CUDALibraries/common/FreeImage/lib/darwin/libfreeimage_10_5-3.13.1.dylib filter=lfs diff=lfs merge=lfs -text
7_CUDALibraries/common/FreeImage/lib/darwin/libfreeimage_10_6.a filter=lfs diff=lfs merge=lfs -text
7_CUDALibraries/common/FreeImage/lib/darwin/libfreeimage.a filter=lfs diff=lfs merge=lfs -text
7_CUDALibraries/randomFog/data/ref_randomFog.bin filter=lfs diff=lfs merge=lfs -text
0_Simple/simpleZeroCopy/doc/CUDA2.2PinnedMemoryAPIs.pdf filter=lfs diff=lfs merge=lfs -text
0_Simple/template/doc/black_1x1.gif filter=lfs diff=lfs merge=lfs -text
0_Simple/simpleSeparateCompilation/settings.nvlink filter=lfs diff=lfs merge=lfs -text
0_Simple/cdpSimpleQuicksort/settings.nvlink filter=lfs diff=lfs merge=lfs -text
0_Simple/cdpSimplePrint/settings.nvlink filter=lfs diff=lfs merge=lfs -text
5_Simulations/oceanFFT/doc/sshot_lg.png filter=lfs diff=lfs merge=lfs -text
5_Simulations/oceanFFT/doc/sshot_sm.png filter=lfs diff=lfs merge=lfs -text
5_Simulations/oceanFFT/doc/sshot_md.png filter=lfs diff=lfs merge=lfs -text
5_Simulations/oceanFFT/data/ref_slopeShading_sm13.bin filter=lfs diff=lfs merge=lfs -text
5_Simulations/oceanFFT/data/ref_spatialDomain_sm13.bin filter=lfs diff=lfs merge=lfs -text
5_Simulations/oceanFFT/data/ref_slopeShading.bin filter=lfs diff=lfs merge=lfs -text
5_Simulations/oceanFFT/data/ref_spatialDomain.bin filter=lfs diff=lfs merge=lfs -text
5_Simulations/oceanFFT/data/reference.ppm filter=lfs diff=lfs merge=lfs -text
5_Simulations/smokeParticles/doc/screenshot_lg.png filter=lfs diff=lfs merge=lfs -text
5_Simulations/smokeParticles/doc/screenshot_md.png filter=lfs diff=lfs merge=lfs -text
5_Simulations/smokeParticles/doc/screenshot_sm.png filter=lfs diff=lfs merge=lfs -text
5_Simulations/smokeParticles/doc/smokeParticles.pdf filter=lfs diff=lfs merge=lfs -text
5_Simulations/smokeParticles/data/floortile.ppm filter=lfs diff=lfs merge=lfs -text
5_Simulations/smokeParticles/data/ref_smokePart_pos.bin filter=lfs diff=lfs merge=lfs -text
5_Simulations/smokeParticles/data/ref_smokePart_vel.bin filter=lfs diff=lfs merge=lfs -text
5_Simulations/fluidsGL/doc/fluidsGL_lg.gif filter=lfs diff=lfs merge=lfs -text
5_Simulations/fluidsGL/doc/fluidsGL.pdf filter=lfs diff=lfs merge=lfs -text
5_Simulations/fluidsGL/doc/fluidsGL_sm.gif filter=lfs diff=lfs merge=lfs -text
5_Simulations/fluidsGL/doc/fluidsGL_md.gif filter=lfs diff=lfs merge=lfs -text
5_Simulations/fluidsGL/data/ref_fluidsGL.ppm filter=lfs diff=lfs merge=lfs -text
5_Simulations/particles/doc/screenshot_lg.png filter=lfs diff=lfs merge=lfs -text
5_Simulations/particles/doc/screenshot_md.png filter=lfs diff=lfs merge=lfs -text
5_Simulations/particles/doc/screenshot_sm.png filter=lfs diff=lfs merge=lfs -text
5_Simulations/particles/doc/particles.pdf filter=lfs diff=lfs merge=lfs -text
5_Simulations/particles/data/ref_particles.bin filter=lfs diff=lfs merge=lfs -text
5_Simulations/nbody/galaxy_20K.bin filter=lfs diff=lfs merge=lfs -text
5_Simulations/nbody/doc/nbody_gems3_ch31.pdf filter=lfs diff=lfs merge=lfs -text
5_Simulations/nbody/doc/screenshot_lg.jpg filter=lfs diff=lfs merge=lfs -text
5_Simulations/nbody/doc/screenshot_sm.jpg filter=lfs diff=lfs merge=lfs -text
5_Simulations/nbody/doc/screenshot_md.jpg filter=lfs diff=lfs merge=lfs -text
common/data/person.ppm filter=lfs diff=lfs merge=lfs -text
common/data/sponge.ppm filter=lfs diff=lfs merge=lfs -text
common/data/flower.ppm filter=lfs diff=lfs merge=lfs -text
common/data/flower_gold.png filter=lfs diff=lfs merge=lfs -text
common/lib/linux/i686/libGLEW.a filter=lfs diff=lfs merge=lfs -text
common/lib/linux/x86_64/libGLEW.a filter=lfs diff=lfs merge=lfs -text
